body{
    background: url(image/m6.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
     background-position: center; 
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39,39,39,0.4);
}